body {
    margin: 0;
    color: #000000;
}

.panel {
    height: 600px;
    width: 1440px;
    background-color: #F2F2F2;
}

h3 {
    width: 254px;
    height: 34px;
    top: 179px;
    left: 835px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 33.75px;
    
}

#art-1 p {
    width: 422px;
    height: 85px;
    top: 253px;
    left: 835px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28.13px;
}

button {
    width: 200px;
    height: 60px;

    padding: calc((60px - 25px) / 2) calc((200px - 167px) / 2);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24.26px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

#middle-element {
    margin: 40px 0;
}

#box-1 {
    width: 720px;
    height: 600px;
    background-color: #000000;
}

#small-box-1 {
    width: 320px;
    height: 360px;
    position: absolute;
    top: 120px;
    left: 198px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

#art-1 {
    height: 243px;
    width: 422px;
    position: absolute;
    top: 179px;
    left: 835px;
}

#box-2 {
    width: 480px;
    height: 360px;
    top: 120px;
    left: 240px;
    border-radius: 8px;
    border: 1px solid #000000;
    position: relative;
}