body {
    margin: 0;
    color: #000000;
    background-color: #FFFFFF;
    width: 1440px;
    height: 1880px;
}

.panel {
    height: 600px;
    width: 1440px;
    background-color: #F2F2F2;
}

h3 {
    width: 254px;
    height: 34px;
    top: 179px;
    left: 835px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 33.75px;
    
}

#art-1 p {
    width: 422px;
    height: 85px;
    top: 253px;
    left: 835px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28.13px;
}

button {
    width: 200px;
    height: 60px;

    padding: calc((60px - 25px) / 2) calc((200px - 167px) / 2);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24.26px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

#list-right {
    top: 640px;
    left: 1px;
    position: absolute;
}

#quote-right {
    top: 1280px;
    position: absolute;
}

#box-1 {
    width: 720px;
    height: 600px;
    background-color: #000000;
}

#small-box-1 {
    width: 320px;
    height: 360px;
    position: absolute;
    top: 120px;
    left: 198px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

#art-1 {
    height: 243px;
    width: 422px;
    position: absolute;
    top: 179px;
    left: 835px;
}

#box-2 {
    width: 480px;
    height: 360px;
    top: 120px;
    left: 240px;
    border-radius: 8px;
    border: 1px solid #000000;
    position: absolute;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

#art-2 {
    width: 457px;
    height: 315px;
    top: 143px;
    left: 799px;
    position: absolute;
}

h4 {
    width: 212px;
    height: 29px;
    top: 143px;
    left: 831px;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28.13px;
}

#art-2 p {
    width: 422px;
    height: 85px;
    top: 196px;
    left: 834px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28.13px;
}

#panel-2-list {
    width: 193px;
    height: 135px;
    top: 323px;
    left: 799px;
    margin: 0;
    padding: 0;
}

#panel-2-list li {
    height: 29px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 28.13px;
}

#quote-right-media {
    width: 491px;
    height: 286px;
    top: 157px;
    left: 174px;
    position: absolute;
}

#art-3 {
    width: 470px;
    height: 258px;
    top: 171px;
    left: 737px;
    position: absolute;
}

#white-box {
    width: 400px;
    height: 232.68px;
    left: calc(265px - 174px);
    background-color: #FFFFFF;
    position: absolute;
}

#black-box {
    width: 400px;
    height: 232.68px;
    top: calc(210.32px - 157px);
    background-color: #000000;
    position: absolute;
}

h2 {
    width: 422px;
    height: 38px;
    top: 171px;
    left: 737px;
    margin-top: 0;

    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 37.5px;
}

#best-proposition {
    width: 470px;
    height: 76px;
    top: calc(233px - 26.56px);
    left: 737px;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 25.31px;
}

#customer-quote {
    width: 470px;
    height: 40px;
    top: 357px;
    left: 737px;
    margin-top: 36px;
    margin-bottom: 0px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 19.69px;
}

#art-3 ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    height: 24px;
}

#dot {
    width: 24px;
    height: 24px;
    top: 405px;
    left: 737px;
    background-color: #000000;
    border-radius: 24px;
    float: left;
}

#designer {
    width: 181px;
    height: 20px;
    top: 407px;
    left: 769px;
    margin-left: 10px;
    margin-top: 2px;
    float: left;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 19.03px;
}
