body {
    margin: 0;
}

main {
    width: 1440px;
    height: 500px;
    margin: auto;
    /* background-color: #F2F2F2; */
    background-color: pink;
}

nav {
    height: 64px;
    background-color: black;
    margin-top: 20px;
    /* background-color: #FFFFFF; */
}

#center {
    margin-top: 0;
    background-color: teal;
}

#right {
    background-color: green;
}

#left {
    background-color: blue;
}

#split {
    background-color: yellow;
}
